@media (min-width: 1200px) and (max-width: 1500px) {
  .bio-head{
    font-size: 65px;
     font-weight: 400;
  }
  .navbar{
    border-bottom: 1px solid #c1c1c1;
    margin: 0 28px;
  }
.bio-subhead{
  margin-bottom: 100px!important;
}

   .resumeimg{
     margin-top: -310px;
     margin-left:140px;
    }
   .transparentimg{
     margin-top: -190px;
    margin-left: 525px;
    z-index: 9;
    width: 19rem;
   }
   .pdfbtn{
    margin-left: 390px;
    margin-top: -45px;
    width: 400px!important;
   }
   .content-box{
     width: 450px;
     margin-top: -355px;
     margin-left: 285px;
     height:350px;
   padding-top: 5px;
   }
.content{
  padding:0px;
}
.hobbiename{
  margin-left: 80px;
}
.progress-container {
  width: 100%;
  height: .5px;
  background-color: #87B6C1;
  transform: rotate(90deg) translateY(101px) translateX(5px);
  margin-left: 220px;
}

.progress-bar {
  height: 1.5px;
  background-color: rgb(135, 182, 193);
  width: 0%;
}
 }

   @media (min-width: 991px) and (max-width: 1024px){
     .navbar-nav{
       background: #faf3f2;
       width: 40%;
         height: 100vh;
     }
     .bio-head{
       font-size: 65px;
       font-weight: 400;
       width:684px;
     }
     .main-header-area{
       border-bottom: 0;
       padding: 20px 0px;
     }
     .resumehead{
       margin-top: 50px!important;
     }
     .portimg{
       width: 400px;
       margin-left: -80px;
     }

        .transparentimg{
          margin-top: -130px;
          margin-left: 170px;
        }
     .pdfbtn{
       width: 300px;
       margin-top: -150px;
       left: 135px;
     }
     .content-box {
         margin-top: 400px;
         width: 450px;
         margin-left: 160px;
     }
     .transparentimg {
         margin-top: 30px;
         margin-left: 130px;
         width: 300px;
     }
     .pdfbtn {
         width: 285px;
         margin-top: 215px;
         left: 165px;
     }
     .hobbies{
       margin: 0px;

     }
     .hobbiename{
         margin-left: -180px;
     }
}

 @media (min-width: 768px) and (max-width: 991px){
.navbar-brand{
  margin-left: -30px;
}
.navbar-nav{
  background: #faf3f2;
  width: 40%;
    height: 100vh;
}
.main-header-area{
  border-bottom: 0;
}
.bio-head{
  font-size: 65px;
  font-weight: 400;
  width:684px;
}
.resumehead{
  margin-top: 50px!important;
}
.portimg{
  width: 400px;
  margin-left: -80px;
}

   .transparentimg{
     margin-top: -130px;
     margin-left: 170px;
   }
.pdfbtn{
  width: 300px;
  margin-top: -150px;
  left: 135px;
}
.content-box {
    margin-top: 400px;
    width: 450px;
    margin-left: 110px;
}
.transparentimg {
    margin-top: 30px;
    margin-left: 70px;
    width: 300px;
}
.pdfbtn {
    width: 260px;
    margin-top: 215px;
    left: 75px;
}
.hobbies{
  margin: 0px;

}
.hobbiename{
    margin-left: -50px;
}
}
@media(min-width: 260px) and (max-width: 479px){
.navbar-brand{
  margin-left: -42px;
}
.navbar-nav{
  background: #faf3f2;
  width: 40%;
    height: 100vh;
}
.main-header-area{
  border-bottom: 0;
}
  .portimg,.resumeimg::before{
    display: none;
  }

.content-box{
  position: relative;

}
.transparentimg{
      width: 227px;
    }
  }

@media (min-width:260px) and (max-width:374px){
  .content-head {
    font-size: 33px;
  }
  .content-box{
        width: 357px;
  }
  .pdfbtn{
        margin-top: 290px;
  }
  .transparentimg{
        width: 215px;
            margin-top: 177px;
  }
  .navbar-nav{
    margin-right: -16px;
    width: 50%;
  }
}

@media (min-width:260px) and (max-width:340px){
  .content-head {
    font-size: 28px;
  }
  .content-box{
        width: 310px;
  }
  .pdfbtn{
        margin-top: 290px;
  }
  .transparentimg{
        width: 175px;
            margin-top: 177px;
  }
  .navbar-nav{
    margin-right: -16px;
    width: 50%;
  }
}
