*{
  padding: 0;
  margin:0;
outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
a,h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}
p,b{
  font-family: 'IBM Plex Mono', monospace;
}
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  transition:all 0.25s ease;
  padding-top: 7px;
  width: 50px;
  height: 50px;
  text-align: center;
  background:rgb(238, 121, 104);
  line-height: 45px;
  z-index: 9999;
}


.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    position: absolute;
    z-index: 99;
    border: none;
    border-radius: 3px;
    padding: 0;
    right: 30px;
    top: -15px;
}
span.slicknav_icon:before{
  top: -6px;
}
span.slicknav_icon:after{
  top: 0;
}
.las {

    font-size: 26px;

}
.maillink{
  color: rgb(238, 121, 104);
  font-weight: 300;
}
.icon{
color: rgb(238, 121, 104);
}
.pageup{
  color:#fff;
}
.slicknav_menu .slicknav_nav{
    width: 40%;
    left: 600px!important;
    background: #faf2f0!important;

}
#mainNav{
  background-color: #faf3f2;
  height: 95px;
}
.logo{
  width: 8rem;
margin-top: 12px;

}
.navbar-brand{
  color: #000;
  top: 50%;
  position: absolute;

}
.firstheading{
  border-bottom: 1px solid #c1c1c1;
}
#mainNav .navbar-nav{
  text-align: center;
  padding: 0px;
}
#mainNav .navbar-nav li {
  display: inline-block;
  position: relative;
  margin: 0 ;
  font-size: 15px;
}

 #mainNav .navbar-nav li a {
  color: #000;
  font-size: 15px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 800;
  letter-spacing: .1em;
  transition: color .2s ease-out;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

 #mainNav .navbar-nav li a:hover,  #mainNav .navbar-nav li a.active,  #mainNav .navbar-nav li a:focus {
  color: #ee7968;
}
.color{
  color: #ee7968;
}
 #mainNav .navbar-nav li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}
 #mainNav .navbar-nav li:first-child a {
  padding-left: 0;
}
#mainNav.scrolled{
 background-color:  #faf3f2;
 height: 75px;
}
#mainNav.scrolled #myBtn{
 background-color: #64a19d;
}
#mainNav.scrolled .navbar-brand{
 color: #000;
}
#mainNav.scrolled .navbar-nav .nav-item .nav-link{
 color: #000;
}
#mainNav .navbar-nav .nav-item .nav-link.active{
  color: rgb(238, 121, 104);
  outline: 0;
  border-bottom: 1px solid rgb(238, 121, 104);
}
.biography{
  background-color: rgb(250, 242, 240);
}
.bio-head{
  font-size: 36px;
  font-weight: 400px;
  font-family: 'Playfair Display',serif;
}
.bio-subhead{
  font-size: 17px;
  line-height: 33px;
  font-weight: 400;
  color: rgb(107, 103, 104);

}
.portimg{

  box-shadow: 0px 6px 5px ;
}
.resumeimg{
  position: relative;
  z-index:9;

}
/* .resumeimg::before{
  position: absolute;
  content: "";
    z-index: -1;
    top: 250px;
    left: -520px;
    background-color: rgb(245, 235, 231);
    width: 527px;
    height: 315px;

} */
.content-box{
  background: rgb(245, 235, 231);
      margin-left: -45px;
      height: 255px;
      top: -18px;
      width: 400px;
}
.content-banner{
  position: relative;
}
.content{
  z-index: 99;
  padding: 30px;
}
.content-head{
  font-size: 38px;
  line-height: 44px;

}
.content-details{
  font-size: 19px;
  line-height: 2.5rem;
  margin-left: -160px;

}
.content-email{
  margin-left: -175px;
  font-size: 19px;
  margin-bottom: 0!important;
  color: rgb(238, 121, 104);
}
.content-number
{
margin-left: -240px;
font-size: 19px;
margin-bottom: 0!important;
  }
.intro{
  font-size: 13px;
  line-height: 23px;
  width: 200px;
}
ul.intro li a{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  line-height: 2rem;
}
.transparentimg{
  width: 265px;
  margin-left: 97px;
  position: absolute;
  margin-top: 130px;
  z-index: 1;
}
.pdfbtn{
  position: absolute;
  font-family: 'IBM Plex Mono', monospace;
  padding: 21px 25px!important;
    z-index: 16;
    background: white;
    color: #000;
    width: 260px;
margin-top: 245px;
margin-left: 0px;
}
.biography-section{
  background-color: #faf3f2;
}
.infotext{
  line-height: 2rem;
  font-size: 17px;
}
.hobbies-section{
  background: #faf3f2;
}
.hobbies-icon{
  background:rgb(245, 235, 231)
}
.hobbies{
  margin: 0 19px;
  padding: 50px 0;
}
.hobbieimg{
  margin: 0 100px;
}
.hobbiename{
  font-size: 13px;
  margin-left:-20px;
}
 textarea{
   background: #faf3f2 !important;
   border: 1px solid #000 !important;
   font-family: 'IBM Plex Mono', monospace;
   margin-top: 20px;
 }
 textarea.form-control {
     height: 137px;
 }
 input[type="text"],
 input[type="tel"],
 input[type="email"]{
   background-color:  #faf3f2;
    border: 1px solid #000 !important;
    outline:none;
    font-family: 'IBM Plex Mono', monospace;
    padding: 30px 10px;
    margin:15px 0px;
 }
button[type="submit"]{
  border: 0;
  padding: 15px 36px;
  background: #ee7968!important;
  font-family: 'IBM Plex Mono', monospace;
}
::placeholder{
  color: #000!important;
}
textarea{
  background: #faf3f2 !important;
  border: 0;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 20px;
}

input:focus{
outline: none!important;
border: 1px solid rgb(238, 121, 104)!important;;
}
textarea:focus{
outline: none!important;
border: 1px solid rgb(238, 121, 104)!important;;
}
